<div class="row">
<h3>Please select any of the stores!</h3>
<div class="co-xs-12">
    <button 
    style="margin: 5px;" 
    class="btn btn-success"
    (click)="localStore1()"
    >Local Store1</button>
   </div><div class="co-xs-12">   
    <button 
    style="margin: 5px;" 
    class="btn btn-success"
    (click)="localStore2()"
    >Local Store2</button>
    </div><div class="co-xs-12">
    <button 
    style="margin: 5px;" 
    class="btn btn-success"
    (click)="localStore3()"
    >Local Store2</button>
</div>
</div>